extends layout


block script 
  script(type='module' src='/javascripts/teste.js')

block main
  .row
    .col-6.vh-50
      #canvas1
    .col-6.vh-50
      #canvas2
    .col-6.vh-50
      #canvas3
    .col-6.vh-50
      #canvas4